/* ================================ Base Setup ==================================== */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  color: #1b1b1b;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fafbff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1b1b1b;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 800;
}

h1 {
  font-size: clamp(36px, calc(2.25rem + 24 * (100vw - 320px) / 1600), 60px);
}

h2 {
  font-size: clamp(36px, calc(2.25rem + 20 * (100vw - 320px) / 1600), 56px);
}

p {
  font-size: clamp(14px, 0.875rem + (1vw - 7.68px) * 0.1736, 16px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 18px;
}

/* ========================= Main Style =============================== */

/* Navbar Style  */

.header {
  background: linear-gradient(to left, #62bada, #c9e7f2);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}

.nav__logo {
  font-weight: 700;
  font-size: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 26px;
  font-size: 14px;
}

.nav__list li:first-child,
.nav__list li:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav__buttons {
  display: flex;
  gap: 50px;
}

.nav__buttons button:first-child {
  border: none;
  background: none;
}

.nav__buttons button:nth-child(2) {
  border: none;
  background-color: #4f46ba;
  color: #fff;
  padding: 17px 36px;
}

/* Hero Styles */

.heroSection {
  background: linear-gradient(to left, #62bada, #c9e7f2);
}

.hero {
  display: flex;
  width: 100%;
  height: 700px;
}

.hero__content {
  width: 60%;
  padding: 150px 0 80px;
}

.hero__content h1 {
  width: 80%;
  margin-bottom: 22px;
}

.hero__content p {
  width: 70%;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 56px 0 52px;
}

.hero__content button:first-child {
  background-color: #4f46ba;
  color: #fff;
  border-radius: 47px;
  padding: 15px 38px;
  border: none;
}

.hero__content button:nth-child(2) {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__content button i {
  font-size: 50px;
  color: #22d497;
}

.hero__bottomContent {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero__bottomContent p {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.hero__bottomContent p i {
  color: #4f46ba;
}

.hero__img {
  width: 30%;
}

.hero__img img {
  width: fit-content;
  height: 100%;
  object-fit: contain;
}

/* Companies Section  */

.companiesSection {
  background-color: #f5f6f8;
}

.companies {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.companies p {
  text-align: center;
  font-size: 24px;
}

.companies__logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Automated Portfolio Tracking Section */

.portfolio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 72px 18px;
}

.portfolio__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.portfolio__card {
  width: 35%;
  background-color: #c4c4c4;
  padding: 38px 34px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.portfolio__card p{
    font-size: 14px;
}

