/* ================================ Base Setup ==================================== */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  color: #1b1b1b;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fafbff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1b1b1b;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 800;
}

h1 {
  font-size: clamp(36px, calc(2.25rem + 24 * (100vw - 320px) / 1600), 60px);
}

h2 {
  font-size: clamp(36px, calc(2.25rem + 20 * (100vw - 320px) / 1600), 56px);
}

p {
  font-size: clamp(14px, 0.875rem + (1vw - 7.68px) * 0.1736, 16px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 18px;
}

/* ========================= Main Style =============================== */

/* Navbar Style  */

.header {
  background: linear-gradient(to left, #62bada, #c9e7f2);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}

.nav__logo {
  font-weight: 700;
  font-size: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 26px;
  font-size: 14px;
}

.nav__list li:first-child,
.nav__list li:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav__buttons {
  display: flex;
  gap: 50px;
}

.nav__buttons button:first-child {
  border: none;
  background: none;
}

.nav__buttons button:nth-child(2) {
  border: none;
  background-color: #4f46ba;
  color: #fff;
  padding: 17px 36px;
}

/* Hero Styles */

.heroSection {
  background: linear-gradient(to left, #62bada, #c9e7f2);
}

.hero {
  display: flex;
  width: 100%;
  height: 700px;
}

.hero__content {
  width: 60%;
  padding: 150px 0 80px;
}

.hero__content h1 {
  width: 80%;
  margin-bottom: 22px;
}

.hero__content p {
  width: 70%;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 56px 0 52px;
}

.hero__content button:first-child {
  background-color: #4f46ba;
  color: #fff;
  border-radius: 47px;
  padding: 15px 38px;
  border: none;
}

.hero__content button:nth-child(2) {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__content button i {
  font-size: 50px;
  color: #22d497;
}

.hero__bottomContent {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero__bottomContent p {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.hero__bottomContent p i {
  color: #4f46ba;
}

.hero__img {
  width: 30%;
}

.hero__img img {
  width: fit-content;
  height: 100%;
  object-fit: contain;
}

/* Companies Section  */

.companiesSection {
  background-color: #f5f6f8;
}

.companies {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.companies p {
  text-align: center;
  font-size: 24px;
}

.companies__logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Automated Portfolio Tracking Section */

.portfolio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 72px 18px;
}

.portfolio__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.portfolio__card {
  width: 35%;
  background-color: #c4c4c4;
  padding: 38px 34px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-weight: 600;
}

.portfolio__card p {
  font-size: 14px;
}

/* Automated Portfolio Tracking Features Card Section  */

.features__cards {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 110px;
}

.features__card {
  border: 1px solid #dbe4e9;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  height: 310px;
  gap: 17px;
  background-color: #fff;
}

.features__card h3 {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
}

.features__card p {
  font-size: 14px;
  text-align: center;
}

/* Track Payment Section  */

.track {
  display: flex;
  justify-content: space-between;
}

.track__box {
  background: url(../assets/images/trackPayment__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 61px;
}

.track__card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 9px 19px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  position: relative;
  width: 433px;
}

.track__card1 {
  margin-left: 10%;
}
.track__card2 {
  margin-left: 30%;
}
.track__card3 {
  margin-left: 20%;
}
.track__card4 {
  margin-left: 5%;
}

.track__card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 14px;
}

.track__cardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.track__amount {
  font-weight: 800;
  color: #3734a9;
  font-weight: 700;
  background-color: #ebebf7;
  width: fit-content;
  padding: 8px 11px;
  border-radius: 30px;
}

.track__text {
  font-size: 14px;
  color: #555;
}

.track__content {
  width: 45%;
}

.track__content p:first-child {
  color: #3734a9;
  font-weight: 700;
  font-size: 14px;
}

.track__content h2 {
  margin: 14px 0 20px;
}

.track__content hr {
  border: 1px solid #c4c4c4;
  margin: 24px 0;
}

.track__checks {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.track__check {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
}

.track__check i {
  color: #fdbc64;
}

/* Save Money with Proper Transaction Section */

.transaction {
  display: flex;
  width: 100%;
  align-items: center;
}

.transaction__content {
  width: 50%;
}

.transaction__content h2 {
  width: 80%;
  margin-bottom: 14px;
}

.transaction__card {
  background-color: #c4c4c4;
  border-radius: 20px;
  padding: 38px 34px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 35px;
  font-weight: 600;
}

.transaction__img {
  width: 50%;
}

.transaction__img img {
  width: 100%;
}

/* Features Section  */

.features2 {
  background-color: #c9e7f2;
}

.feature2__content h2 {
  padding: 140px 0 18px;
}

.feature2__content p {
  width: 50%;
  margin-bottom: 51px;
}

.features2__cards {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 110px;
}

.features2__card {
  border: 1px solid #dbe4e9;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 10px;
  gap: 17px;
  background-color: #fff;
  width: 50%;
  height: 345px;
}

.features2__card p:nth-child(2),
.features2__sideCard p {
  font-size: 22px;
  font-weight: 800;
}

.features2__sideCards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.features2__sideCard {
  background-color: #fff;
  padding: 42px 32px;
  border-radius: 10px;
}

/* Testimonials Section */

.testomonial {
  padding: 140px 18px;
}

.testomonial__content p {
  width: 50%;
  padding: 37px 0 74px;
}

.testomonial__cards {
  display: flex;
  gap: 40px;
  align-items: center;
}

.testomonial__card {
  display: flex;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}

.testomonial__cardContent {
  padding: 60px 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 600;
  font-size: 25px;
}

.testomonial__cardContentImg {
  padding: 24px 15px 24px 0;
  width: 30%;
}

.testomonial__cardContentImg img {
  width: 100%;
}

/* Banner Section  */

.bannerSection {
  background-color: #3734a9;
  color: #fff;
}

.banner {
  display: flex;
  align-items: center;
}

.banner__content p {
  font-size: 19px;
  /* width: 45%; */
}

.vertical-line {
  width: 2px;
  height: 256px;
  background-color: #3d3d3d;
  margin: 0 65px 0 29px;
}

.banner__user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

.banner__user p {
  font-size: 30px;
}

.banner__ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.banner__rating {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner__user i {
  color: #b1ca16;
}


/* Recent Blogs Section  */

.blog {
  margin-top: 140px;
  width: 100%;
}

.blog__contents {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 67px;
}

.blog__content {
  padding: 34px 28px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.blog__content p:first-child, .blog__cardContent p:first-child{
  font-weight: 700;
}

.blog__content p:nth-child(2), .blog__cardContent p:nth-child(2) {
  font-weight: 700;
  font-size: 29px;
  line-height: 1.2;
}

.blog__content button {
  border: none;
  background: none;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 60px;
}

.blog__cards {
  display: flex;
  gap: 28px;
  margin-top: 30px;
  width: 100%;
}

.blog__card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.blog__cardContent {
  padding: 25px 32px 58px;
}

.blog__cardContent p:nth-child(2) {
  font-weight: 600;
  margin-top: 8px;
}

.blog__cardImg {
  width: 100%;
}

.blog__cardImg img {
  width: 100%;
}
